<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: grey">
    <h1 style="color: purple;text-align:center;">Shilpi Mittal</h1>
    <h1 style="color: blue;text-align:center;">1001373752</h1>
    <br>
<form action="/mymavlogin" method="post" enctype="multipart/form-data">
<label>Username : </label><input type="text" name="usrname" placeholder="Enter Student username">
<label>Password : </label> <input type="password" name="pswd" placeholder="Enter Password"> 
 <input type="submit" value="Submit">
 <p>{{error}}</p>
 </form>
</body>
</html>