<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: grey">
    <h1 style="color: purple;text-align:center;">Shilpi Mittal</h1>
    <h1 style="color: blue;text-align:center;">1001373752</h1>
    <br>
<form action="/searchpg" method="post" enctype="multipart/form-data">
	<label>Section Number : </label><input type="text" name="dept" placeholder="Enter the Section Name">
 <label>Course Number : </label><input type="text" name="courseno" placeholder="Enter the Course number"> 
 <input type="submit" value="Submit">
 <p>{{error_msg}}</p>
 </form>
</body>
</html>